{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="grid gap-0 row-gap-3">
				<div class="col mt-5">
					<h3 class="font-weight-bold">Данные о товаре</h3>
				</div>
				<div class="col mt-5">
					<form id="form">
						{% csrf_token %}
						<div class="form-group">
							<label for="id_product_code">Код товара</label>
							{{ form.product_code }}
						</div>
						<div class="form-group">
							<label for="id_product_code">Полное наименование</label>
							{{ form.product_name }}
						</div>
						<div class="form-group">
							<label for="id_product_code">Бренд</label>
							{{ form.product_brand }}
						</div>
						<div class="form-group">
							<label for="id_product_code">Модель</label>
							{{ form.product_model }}
						</div>
						<div class="form-group">
							<label for="id_product_code">Артикул</label>
							{{ form.product_partnumber }}
						</div>
						<button type="button" id="form_submit_btn" class="btn btn-outline-success">
							Получить характеристики
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% if gpt_requests %}
	<div class="row">
		<div class="col mt-5">
			<table id="datatble_1" width="100%">
				<thead>
					<tr>
						<th>ID</th>
						<th width="55%">Отправленные данные</th>
						<th width="10%">Статус</th>
						<th width="30%" class="text-center">Действия</th>
					</tr>
				</thead>
				<tbody>
					{% for gr in gpt_requests %}
						<tr>
							<td>{{ gr.id }}</td>
							<td>
								Код товара: {{ gr.user_product_data.product_code }}<br>
								Полное наименование: {{ gr.user_product_data.product_name }}<br>
								Бренд: {{ gr.user_product_data.product_brand }}<br>
								Модель: {{ gr.user_product_data.product_model }}<br>
								Partnumber: {{ gr.user_product_data.product_partnumber }}<br>
							</td>
							<td id="status_{{forloop.counter}}">{{ gr.status }}</td>
							<td class="text-center">
								<div class="row justify-content-center">
								{% if gr.status == "Успешно" %}
									<div class="col-8">
										<a href="{% url 'app:detail_characteristics' gr.id %}" class="btn bt-sm btn-success">
											Посмотреть результат
										</a>
									</div>
								{% else %}
									<div class="col-8">
										<button type="button" id="id_status_{{forloop.counter}}" onclick="check_status('{{forloop.counter}}', {{ gr.id }})" class="btn bt-sm btn-outline-warning">
											Обновить статус
										</button>
									</div>
									<div class="col-8">
										<a href="{% url 'app:detail_characteristics' gr.id %}" id="id_result_{{forloop.counter}}" class="btn bt-sm btn-success" hidden>
											Посмотреть результат
										</a>
									</div>
								{% endif %}
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
</div>
{% endblock content %}

{% block jsend %}
<script>
	$("#datatble_1").DataTable({
		"paging": false,
		"searching": false,
		"info": false,
		"ordering": false,
		"columnDefs": [{
			"targets": '_all',
			"createdCell": function (td, cellData, rowData, row, col) {
				$(td).css('padding', '10px')
			}
		}]
	})
</script>
<script>
	document.getElementById("form_submit_btn").addEventListener("click", form_submit);
	function form_submit() {
		f = document.getElementById("form");
		formdata = new FormData(f);
		$.ajax({
			type: "POST",
			url: "{% url 'app:getting_characteristics' %}",
			data: formdata,
			contentType: false,
  			processData: false,
			dataType: 'json',
			headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},

			success: function(data) {
				window.location.href = window.location.href;
			},
			error: function(data) {
				document.getElementById("error_msg").innerText = data.responseJSON.msg;
				$("#modal_error").modal('show');
			}
		});
	}
</script>
<script>
	function check_status(row_id, gr_id) {
		$.ajax({
		type: "POST",
		url: "{% url 'app:gr_status' %}",
		data: {"gr_id": gr_id},
		dataType: 'json',
		headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},

		success: function(data) {
			document.getElementById(`status_${row_id}`).innerText = data.status;
			if (data.status != "В обработке") {
				document.getElementById(`id_status_${row_id}`).hidden = true;
				document.getElementById(`id_result_${row_id}`).hidden = false;
			}
		},
		error: function(data) {
			document.getElementById("error_msg").innerText = data.responseJSON.msg;
			$("#modal_error").modal('show');
		}
		});
	}
</script>
{% endblock jsend %}